<!-- Portfolio Section -->
<section id="portfolios" class="section">

  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Works</h2>
      <span>Works</span>
      <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="controls text-center">
          <a class="filter btn btn-common btn-effect active" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".design">
            Design
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".development">
            Development
          </a>
          <a class="filter btn btn-common btn-effect" data-filter=".print">
            Print
          </a>
        </div>

      </div>
    </div>

    <div id="portfolio" class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 mix development print" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_1.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_1.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix design print" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_2.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_2.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_3.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_3.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development design" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_4.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_4.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix development" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_5.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_5.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 mix print design" style="display: inline-block;" data-bound="">
        <div class="portfolio-item">
          <div class="shot-item">
            <img src="assets/img/portfolio/img_6.jpg" alt="">
            <div class="single-content">
              <div class="fancy-table">
                <div class="table-cell">
                  <div class="zoom-icon">
                    <a class="lightbox" href="assets/img/portfolio/img_6.jpg"><i class="lni-zoom-in item-icon"></i></a>
                  </div>
                  <a href="#">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Portfolio Section Ends -->