<!-- Subcribe Section Start -->
<div id="subscribe" class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="subscribe-form">
          <div class="form-wrapper">
            <div class="sub-title text-center">
              <h3>Subscribe to Newsletter</h3>
              <p>Weekly Freebies and More!</p>
            </div>
            <form id="subscribeForm" [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
              <div class="row">
                <div class="col-12 form-line">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" id="subscribe_name"
                      formControlName="subscribe_name" [(ngModel)]="subscribeObj.subscribe_name" required
                      data-error="Please enter your Name">
                      <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12 form-line">
                  <div class="form-group">
                    <input type="number" class="form-control" name="phonenumber" placeholder="Phone Number" id="subscribe_phonenumber"
                    formControlName="subscribe_phonenumber" [(ngModel)]="subscribeObj.subscribe_phonenumber" required
                    data-error="Please enter your Phone Number">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <!-- <div class="col-12 form-line">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                  </div>
                </div> -->
                <div class="col-12">
                  <div class="form-submit">
                    <button type="submit" class="btn btn-disable btn-effect" id="submit" type="submit" [disabled]="subscribeForm.invalid"
                    [ngClass]="{'btn-disable': subscribeForm.invalid , 'btn-common' :subscribeForm.valid }">Subscribe Now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="sub-item-box">
          <div class="icon-box">
            <i class="lni-bullhorn"></i>
          </div>
          <div class="text-box">
            <h4>Weekly Free Learning Materials</h4>
            <p></p>
          </div>
        </div>
        <div class="sub-item-box">
          <div class="icon-box">
            <i class="lni-book"></i>
          </div>
          <div class="text-box">
            <h4>Free PDF to Get Started</h4>
            <p></p>
          </div>
        </div>
        <div class="sub-item-box">
          <div class="icon-box">
            <i class="lni-timer"></i>
          </div>
          <div class="text-box">
            <h4>10% Instant Discount</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subcribe Section End -->